{% extends "base.html" %}

{% block content %}
    {% if request.values.sent %}
        <p>Report sent, thank you.</p>
    {% else %}
        <form action="{{ url_for('report_bad_article') }}" method="post">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {% if form.comment.errors %}
                {{ form.comment(class_="form-control is-invalid") }}
                  {% for error in form.comment.errors %}
                    <div class="invalid-feedback">
                      {{ error }}
                    </div>
                  {% endfor %}
                {% else %}
                    {{ form.comment(class_="form-control") }}
              {% endif %}
            </div>
            {{ form.submit(class_="btn btn-primary btn-large btn-block") }}
        </form>
    {% endif %}
{% endblock %}