{% extends "base.html" %}

{% block content %}
    {% if context.already_verified %}
    <p>Your email has already been verified.</p>
    {% endif %}

    {% if context.verified and not context.already_verified %}
    <p>Your email has been verified.</p>
    {% endif %}

    {% if jobs %}
        <h2>Items In Your Queue</h2>
        {% for job in context.jobs%}
            <div>{{ job.args[1] }}</div>
        {% endfor %}
    {% endif %}
    <p>Drag this link into your bookmarks <a href="javascript:(function(){
            const Http = new XMLHttpRequest();

            Http.open('POST', '{{ request.url_root }}api', true);
            Http.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

            Http.onreadystatechange = function () {
                if (Http.readyState === 4 && Http.status === 200) {
                   var json = JSON.parse(Http.responseText);
                   if (json.success) {
                    alert('Sent to kindle :)');
                   } else {
                    alert('Failed to send to kindle :(');
                   }
                }
            };
            try {
                Http.send('token={{ context.api_token }}&url=' + window.location);
            }
            catch(err) {
                alert('Oops, something went wrong sending to kindle, sorry about that <3.');
            }

        })()">Send To Kindle</a></p>
        <p>When you want to send a webpage to your Kindle just click the bookmark.</p>
{% endblock %}